.THIS {
}
.THIS .cnn-container {
    width: 100% !important;
    height: 100% !important;
    padding-top: 0px !important;
}
.THIS .cnn-container__content {
    height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
    width: 100%;
}
