.THIS {
}
.THIS .spinnerHolder {
    position: relative;
    width: 50px;
    height: 30px;
}
.THIS .silIcon {
    padding-left: 5px;
}
.THIS .jobNameInput {
    width: 80% !important;
    margin-right: 10px;
}
.THIS .tsneGraph {
    width: 850px;
    max-width: 850px;
}
.THIS .tsneParams {
}
.THIS .tsneDataPoint {
    max-width: 500px;
    margin-top: 30px;
}
.THIS .tsneParams .slds-checkbox {
    /*
    padding-top: 8px !important;
    */
}
.THIS .tsnehelptext {
    top: -10px;
    position: relative;
}