.THIS {
}
.THIS .dptooltip {
    /*pointer-events: none;  */
}
.THIS .clusterbox {
    width: 15px;
    height: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 5px;
}
.THIS .tsnesvg {
    border-color: slategrey;
    border-style: solid;
}
.THIS .spinnerHolder {
    position: relative;
    width: 50px;
    height: 30px;
}